h1, h2, h3, h4, h5 {
    font-family: 'NanumSquareRound';
    font-weight: bold;
}

h6 {
    font-family: 'NanumSquareRound';
    font-weight: normal;
}

.text-xs {
    font-size: 0.5rem;
}

.text-sm {
    font-size: 0.85rem;
}

.text-md {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.2rem;
}

.text-xl {
    font-size: 1.5rem;
}

.text-2xl {
    font-size: 1.85rem;
}