// color variables

$body-bg : #ffffff;
$header-bg: #ffffff;
// $header-menu-item-color: #77dd77;
$header-menu-item-color: #000000;
$header-menu-item-selected: #249232;




// Dark Mode
$body-bg-dark: #2e2e2e;

$header-bg-dark: #2e2e2e;
$header-menu-item-color-dark: #77dd77;
$header-menu-item-selected: #249232;
