html {
    background-color: white;
}

* {
    font-family: 'NanumSquareRound';
}

ul {
    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
    color: $header-menu-item-color;
    .dark {
        color: $header-menu-item-color-dark;
    }
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}