html {
    background-color: white;
}
* {
    font-family: 'NanumSquareRound';
}

.list {
    color:blue;
    text-decoration: none;
}
.list:hover {
    color: blueviolet;
    position: relative;
}

.list[data]:hover:after{
    content: attr(data);
    padding: 4px 8px;
    color: antiquewhite;
    font-size: 0.7rem;
    position: absolute;
    left: 0;
    bottom: 250%;
    white-space: nowrap;
    z-index: 2;
    border-radius: 5px ;
    background: #FFB84F;
}

#logo:hover {
    color: #636363e8;
    position: relative;
}



#logo:hover:after{
    content: attr(data);
    padding: 4px 8px;
    color: #cdffcd;
    font-size: 0.7rem;
    position: absolute;
    left: 52%;
    bottom: 330%;
    white-space: nowrap;
    z-index: 2;
    border-radius: 5px ;
    background: #6fd37d;
}

.modal-container {
    width: 80%;
    border-radius: 1rem;
    position: absolute;
    /* top : 10rem; */
    top:1rem;
    left : 7rem;
    margin: 0 auto;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(246, 253, 238);
    border: 2px solid rgb(0, 0, 0);
}
.btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: auto 0;
}
.modal-container>button {
    position: absolute;
    right: 5px;
    background: none;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    top: 0;
}
.modal-backdrop {
    background: rgba(2, 2, 2, 0.496);
    width: 100%;
    height: 100%;
}
@media screen and (max-width:400px) {
    .modal-container {
        top : 8rem;
        left:1.5rem;
    }
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}