html {
    background-color: white;
}
* {
    font-family: 'NanumSquareRound';
}

.list {
    color:blue;
    text-decoration: none;
}
.list:hover {
    color: blueviolet;
    position: relative;
}

.list[data]:hover:after{
    content: attr(data);
    padding: 4px 8px;
    color: antiquewhite;
    font-size: 0.7rem;
    position: absolute;
    left: 0;
    bottom: 250%;
    white-space: nowrap;
    z-index: 2;
    border-radius: 5px ;
    background: #FFB84F;
}

#logo:hover {
    color: blueviolet;
    position: relative;
}

#logo:hover:after{
    content: attr(data);
    padding: 4px 8px;
    color: #cdffcd;
    font-size: 0.7rem;
    position: absolute;
    left: 52%;
    bottom: 330%;
    white-space: nowrap;
    z-index: 2;
    border-radius: 5px ;
    background: #6fd37d;
}


@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
