body::-webkit-scrollbar {
    width: 0.7rem;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #77DD77;
    
  }

  body::-webkit-scrollbar-track {
    background: #d8d8d8;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #77DD77 ;
    border-radius: .5rem;
    background: #77DD77;
    background: linear-gradient(180deg, #9df59d 0%, #014001 100%);
    border: 1px solid rgba(36, 135, 36, 0.596)
  }

  