.wrap {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 768px;
    margin: 0.5rem auto 0 auto;
}

.main-img {
    height: 30vh;
}

// @media (max-width: 290px) {
//     .text-sm {
//         font-size: x-small;
//     }
// }