div.tag {
    background-color: $tag-bg;
    color: $tag-color;
    user-select: none;
}
div.tag-sm {
    font-size: 0.7rem !important;
    padding: 0.1rem 0.3rem !important;
    user-select: none;
}

nav > ul > a > li {
    user-select: none;
}

.toc-container ul > li > ul > li {
    font-size: 0.7rem;
    > ul > li > ul > li {
        display: none;
    }
}

.toc-content {
    height: 100vh;
    overflow: auto;
    .toc {
        margin-right: 10px;
    }
}

.toc-content::-webkit-scrollbar {
    margin-left: 10px;
    width: 5px;
}
.toc-content::-webkit-scrollbar-track {
    background-color: rgb(142, 218, 164);
}
.toc-content::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}

.blog-post table {
    font-size: 0.9rem;
    tr > th {
        @extend .text-center;
        background-color: $table-th-bg-color;
    }
    tr > td {
        @extend .text-center;
    }
}

li.current-path {
    border-color: $current-page;
}

a {
    border-color: transparent;
    :hover {
        border-color: $route-hover;
    }
}

.log-selected-bg {
    background-color: $selected-log-bg;
}

.circle {
    border-radius: 50%;
}

p > a {
    text-decoration: underline;
    color: $route-hover;
}

p > code, pre, pre > code {
    background-color: #eeeeee;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    border-radius: 0.25rem;
    padding: 0.2rem 0.5rem 0.3rem;
}

p > strong {
    background-color: antiquewhite;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 10px 0 30px 0;
}

.b-shadow-10-gray {
    box-shadow: 10px 10px 10px #eee;
}

.pointer {
    cursor: pointer;
}

div.bg-orange {
    background-color: #ffc079;
    color: #502404;
}

div.tag.selected-tag {
    background-color: #fff279;
    color: #502404;
}

.wordbreak-breakall {
    word-break: break-all;
    font-size: 0.95rem;
}

.wordbreak-keepall {
    word-break: keep-all;
    font-size: 0.95rem;
}


.ws-nowrap {
    white-space: nowrap;
}

.td-title {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
    @media screen and (max-width: 450px) {
        font-size: 0.7rem;
    }
    @media screen and (max-width: 400px) {
        font-size: 0.65rem;
    }


}

td > p {
    font-size: 1rem;
    @media screen and (max-width: 450px) {
        font-size: 0.75rem;
    }
}

