div.tag {
    background-color: $tag-bg;
    color: $tag-color;
}
div.tag-sm {
    font-size: 0.7rem !important;
    padding: 0.1rem 0.3rem !important;
}


li.current-path {
    border-color: $current-page;
}

a {
    border-color: transparent;
    :hover {
        border-color: $route-hover;
    }
}

.log-selected-bg {
    background-color: $selected-log-bg;
}

.circle {
    border-radius: 50%;
}

p > a {
    text-decoration: underline;
    color: $route-hover;
}

p > code, pre, pre > code {
    background-color: #eeeeee;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    border-radius: 0.25rem;
    padding: 0.2rem 0.5rem 0.3rem;
}

p > strong {
    background-color: antiquewhite;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 10px 0 30px 0;
}


